
<div id="cabecera">
  <div id="cabecera_izq">
    <h1>Lista posts</h1>
  </div>
  <div id="cabecera_dcha">
    <a href="/posts/new" id="Nuevo">New</a>
  </div>
    
</div>
</p>

    <% for (const post of posts) { %>
        <div class="post">
          <div class="post-divider"></div>
          <div class="post-title">
            <h2><%= post.title %></h2>
          </div>
          
          
          
          <div class="post-image">
            <%- include ('./attachments/attachment', {post} ) %>
          </div>
          
          <div class="post-content">
            <div class="post-body">
              <%= post.body %>
            </div>
            
            <div class="post-buttons">
              <a href="/posts/<%= post.id %>" id="Ver">Ver</a>
              <a href="/posts/<%= post.id %>/edit" id="Editar">Editar</a>
              <a href="/posts/<%= post.id %>?_method=DELETE"
                 onClick="return confirm('Borrar: <%= post.title %>');"
                 id="Delete">Eliminar</a>
            </div>
            
          </div>
        </div>
      <% } %>

</p>