<h1>Show Post</h1>

<h2><%= post.title %></h2>
<!-- <img src="/posts/<%= post.id %>/attachment" alt="Imagen del post" class="attachment"> -->
<%- include ('../attachments/attachment', post) %>
<p><%=post.body%></p>
<a href="/posts/<%= post.id %>/edit">Editar</a>
<a href="/posts/<%= post.id %>?_method=DELETE"
    onClick="return confirm('Delete: <%= post.question %>');"
    class="button">Delete</a>
<a href="/posts">Volver</a>